@media(max-width:428px){
    .contenedor {
    width: 100%;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: repeat(2, 25%);
    grid-template-rows: 280px 250px;
    gap: 7rem;
    align-items: center; }
    .contenedor section {
    transition: box-shadow 0.4s ease;
    background-color: #efefef;
    border-radius: 5%;
    margin: 1rem 0;
    width: 190px;
    cursor: pointer; }
    .contenedor section:hover {
    box-shadow: 0 0.3rem 0.5rem black; }
    .remera {
    align-items: center;
    margin-left: 0px;
    padding: 10px; }
    .remera img {
    padding-left: 0px; 
    width: 16rem;
    height: 16rem;}
    .text, h2 {
    text-align: center;}
    .fotos {
    width: 13rem;
    height: 13rem; 
    position: absolute;
    left: 20%;
    bottom: -30%;}
    footer{width: 427px;}
    .footer {
    @include flex(column,none,none,center,none);
    max-width: 100%; }
    .like {
    text-align: center; 
    font-size: 16px;}
    footer div {
    @include flex(none,none,none,center,3rem);
    padding-left: 1px; }
    .iconos {
    width: 30px;
    height: 30px;
    gap: 1rem; }
    .redes {
    background-color: map-get($colores , $color-footer );
    margin-top: 3px; }
    h2 {
    text-align: center;
    font-size: 2rem; }
    .div-1 {
    @include flex(row,none,none,none,3rem);
    padding-left: 1rem;
    p{font-size: 14px;}
    }
    .div-1 a {
    text-decoration: none;
    color: black; }
    .icon {
    @include flex(column,none,none,center,none);
    padding: 1rem;
    width: 5rem;
    height:5rem; }
    .texto-redes {
    text-align: left;
    padding-top: 2rem;
    font-size: 14px; }
    .div-2 {
    @include flex(none,none,center,center,2rem);
    margin-bottom: 10px;
    padding-left: 0px; 
    p{font-size: 14px;}
    }
    .posicion {
    @include flex(none,none,center,center,2rem);
    padding-left: 0px;
    margin-right: 100px;}
    .tienda {
    text-align: center;
    align-items: center;
    h2,p{font-size: 1.5rem;} 
    section{
    margin-top: 200px;
    img{
    position: absolute;
    top: -200%;
    left: 33%;}}}
    .tienda div {
    @include flex(none,none,none,center,2rem);
    text-align: center;
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .boton {
    width: 17rem;
    height: 2rem;
    border-radius: 3rem;
    background-color: map-get($colores , $color-footer );
    align-items: center;
    font-size: 2rem;
    text-decoration: none; }
    .boton:hover {
    cursor: pointer;
    background-color: map-get($colores, $color-navbar ) };
    .image {
    width: 17rem;
    height: 10rem;
    border-radius: 5%; }
    .card-1, .card2 {
    @include flex(none,none,space-evenly,none,3rem);
    margin-right: 15px;}
    .classic, .standar, .exclusive {
    text-align: center;
    width: 17rem;
    height: 10rem;
    background-color: map-get($colores ,  $color-navbar );
    border-radius: 10%;
    position: relative; }
    .classic p, .standar p, .exclusive p {
    font-size: 17px;
    text-align: center; }
    .flecha, .flecha-2, .flecha-3 {
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 42%;
    bottom: 0%;
    top: 49.5%; }
    .valor, .valor-2, .valor-3 {
    width: 80px;
    height: 22px;
    background-color: #ECECDE;
    position: absolute;
    left: 30%;
    top: 2;
    bottom: 3%; }
    .card2 {
    padding: .1rem; }
    .standar {
    background-color: #A0CBA2; }
    .standar p {
    font-size: 17px;
    text-align: center; }
    .flecha-2 {
    top: 63.5%;
    left: 42%; }
    .exclusive {
    background-color: #3b73a8; }
    .exclusive p { 
    font-size: 17px;
    align-items: center;
    color: white; }
    .flecha-3 {
    top: 75.5%; 
    left: 42%;}
    .valor-3 {
    background-color: #1e1d6e; }
    .navbar {
    background-color: map-get($colores,  $color-navbar );
    padding: 1rem;
    width: 100%;
    @include flex(none,none,center,none,1rem);
    ul{
    gap: 4rem;
    @include flex(column,none,none,center,none);
    left: 30%;}}
    .navbar li a {
    font-size: 1rem; }
    .navbar__enlace {
    @include flex(none,none,space-between,none,none);
    text-decoration: none;
    font-size: 1rem; }
    .navbar__enlace:hover {
    cursor: pointer;
    background-color: white; }
    .barnav {
    position: relative;
    @include flex(row,none,none,none,1rem); }
    .barnav ul {
    color: black;
    gap: 30rem;
    margin-left: 2px;
    margin-right: 0px;
    max-width: 1024px; }
    .enlace__derecha{
    position: absolute;
    top: 10%;
    right: 2%;}
    .contenido {
    width: 50%;
    margin: auto;
    background-color: rgba(20, 20, 20, 0.1);
    backdrop-filter: blur(7px); }
    .parrafo , br {display: none;}
    body{justify-items: start;}
    .logo{
    width: 6rem;
    height:3rem ;}
}
