.barnav{
    @include flex(row,none,none,none,3rem);
    ul{
        gap: 160rem;
        margin-left: 10px;
        margin-right: 10px;
        a{color: black;}
    }
}
.contenido{
    width: 50%;
    margin: auto;
    background-color: rgba(20, 20, 20, 0.1);
    backdrop-filter: blur(7px);
    text-align: center;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 26px;
}